body {
    font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
header {
    z-index: 5 !important;
}
#root {
    min-height: 100vh;
}
/* replace CK editor style */
.ck.ck-editor {
    height: 100%;
}
.ck-editor__editable {
    min-height: 400px;
    border: 0 !important;
    box-shadow: none !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.ck.ck-editor .ck-editor__top .ck-sticky-panel .ck-toolbar {
    border: 0;
}
.ck.ck-editor {
    border: 1px solid rgba(226,232,240) !important;
    border-radius: 6px;
    overflow: hidden;
}
/* site style */
.bg-dark {
    background: #30344e;
}
.shape {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}
.shape svg {
    fill: white
}
.footer-color, .link-footer {
    color: #9ba7b3;
}
.form-control.is-valid, .was-validated .form-control:valid, .form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"], .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"] {
    background-image: none !important;
}
.show-on-hover-parent .show-on-hover-child {
    display: none !important;
}
.show-on-hover-parent:hover .show-on-hover-child {
    display: inherit !important;
}
.content-sub-width {
    width: 200px;
}
.w-48px {
    width: 48px;
    height: 48px;
}
.w-40px {
    width: 40px;
    height: 40px;
}
.w-36px {
    width: 36px;
    height: 36px;
}
.w-24px {
    width: 24px;
    height: 24px;
}
.w-16px {
    width: 16px;
    height: 16px;
}
header .dropdown-menu {
    width: 240px;
}
header .dropdown-menu-tools {
    width: 300px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.bg-primary {
    background-color: #666CFF !important;
}
.smaller {
    font-size: 0.7rem;
}
.card {
    border-color: rgba(226,232,240);
}
.shadow {
    box-shadow: 0 10px 15px -3px #f7f5ff, 0 4px 6px -2px #f7f5ff;
}

.text-primary {
    color: #666CFF;
}
.btn-primary {
    background: #666CFF;
    border-color: #666CFF;
}
.btn-outline-primary {
    border-color: #666CFF;
    color: #666CFF;
}
.btn-outline-primary:hover {
    background: #666CFF;
    color: white;
}
.text-muted {
    color: #98A2B3;
}
.progress-sm {
    height: 0.5rem;
}
.progress-lg {
    height: 1.5rem;
}
.bg-light {
    background: #f7f7f9;
}
.outline-none {
    outline: none;
}
.hero-bg {
    position: absolute;
    bottom: 0px;
    background-image: url(../images/pattern.svg);
    background-position: left 0% top 110px;
    background-size: 104%;
    background-repeat: no-repeat;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.4;
}
#features svg {
    fill: #666CFF;
    width: 30px;
}
.tools-list svg {
    width: 32px;
}
.form-select, .form-control {
    background-color: white;
    border: 1px solid #dbdbe0;
}
.form-select:focus, .form-control:focus {
    border: 1px solid #666cff;
    outline: none;
    box-shadow: none;
}
.form-select::placeholder, .form-control::placeholder {
    color: #A0AEC6;
}
.nav-fill .nav-item {
    flex: 1 0 20%;
    text-align: center;
}
.nav-fill .nav-item .nav-link {
    border-radius: 0;
    border-top: 0;
    padding: 1rem 1rem;
}
.nav-fill .nav-item:first-child .nav-link {
    border-left: 0;
}
.nav-fill .nav-item:last-child .nav-link {
    border-right: 0;
}
.nav-tabs-none-bg .nav-item .nav-link {
    border: 0;
    background: none;
}
.nav-tabs-none-bg .nav-item .nav-link .badge {
    color: black;
    background: #e0e8ee !important;
}
.nav-tabs-none-bg .nav-item .nav-link.active {
    color: #141125 !important;
    border-bottom: 2px solid #666CFF;
}
.nav-tabs-none-bg .nav-item .nav-link.active .badge {
    color: white;
    background: #666CFF !important;
}
.nav-sidebar .nav-item {
    margin-bottom: 0.5rem;
}
.nav-sidebar .nav-item a {
    line-height: 40px;
    border-radius: 6px;
    text-decoration: none;
    color: initial;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}
.nav-sidebar .nav-item.active a {
    background: #EEEDFA;
    color: #666CFF;
}
.nav-sidebar .nav-item a.active, .nav-sidebar .nav-item a:hover{
    background: #666CFF;
    color: white;
}
.subscribe-bar {
    color: rgb(253, 188, 61);
    background-color: rgba(253, 181, 40, 0.12);
}
.subscribe-bar a {
    color: rgb(253, 188, 61) !important;
}
.subheading-editor-buttons {
    position: absolute;
    right: -32px;
    bottom: 0;
    top: 0;
}
.subheading-editor-buttons a {
    font-size: 1.5rem;
    color: #666CFF;
    cursor: pointer;
}
.article-editor-sidebar {
    width: 280px;
    min-width: 280px;
}
@media only screen and (max-width: 780px) {
    .article-editor-sidebar {
        width: 100%;
    }
}
.card-tool-icon {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-content {
    display: flex;
    display: -webkit-flex; }

.auth-content {
    flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap; }

.auth-image {
    position: relative;
    width: 58.33%;
    margin-bottom: -8px;
    background-position: center center;
    background-size: cover;
    background: #b880ff;
    background-repeat: no-repeat, no-repeat;
}
.auth-image::after{
    background-color: white;
    content: '';
    display: block;
    position: absolute;
    width: 200%;
    left: 86%;
    border-radius: 50%;
    padding-bottom: 200%;
}
.auth-image figure {
    max-width: 70%;
}
.booking-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.auth-form {
    width: 41.67%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (max-width: 1200px) {

    .auth-content {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column; }

    .auth-image, .auth-form {
        width: 100%;
    }

    .auth-image {
        order: 2;
        text-align: center; }

    .auth-form {
        order: 1;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px; }

    .booking-img {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        width: 100%; } }
@media screen and (max-width: 480px) {

}

.btn-google, .btn-google:hover {
    color: white;
    background-color: #ea4335;
}

.btn-facebook, .btn-facebook:hover {
    color: white;
    background-color: #4f85eb;
}

/* solution card */

.section_our_solution .row {
    align-items: center;
}

.our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 10px 15px -3px #f7f5ff, 0 4px 6px -2px #f7f5ff;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,.06);
    margin: 12px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
}

.solution_cards_box .solution_card .iconify {
    color: #666CFF;
}
.solution_cards_box .solution_card:hover .iconify {
    color: white;
}
.solution_cards_box .solution_card:hover {
    background: #666CFF;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
}

.solution_cards_box .solution_card:before {

}

.solution_card .so_top_icon {
}

.solution_card .solu_title h3 {
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
}

.solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
}

.our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
}

@media screen and (min-width: 320px) {
    .sol_card_top_3 {
        position: relative;
        top: 0;
    }

    .our_solution_category {
        width: 100%;
        margin: 0 auto;
    }

    .our_solution_category .solution_cards_box {
        flex: auto;
    }
}
@media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
        flex: 1;
    }
}
@media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
        position: relative;
        top: -3rem;
    }
    .our_solution_category {
        width: 90%;
        margin: 0 auto;
    }
}

/* How its work*/

.gr-1, .gr-2, .gr-3 {
    background: #f8f7fc;
    background-image: url(../images/Wave_Gray.svg);
    background-position: 50% 50%;
    background-size: 360%;
}
.hiw-cards {
    transition: 0.5s;
}

.hiw-cards .column {
    transition: 0.5s;

    margin-top: 3rem;
    padding-left: 3rem;
}
.hiw-cards .column:hover {
    padding-left: 0;
}
.column:hover .card .txt {
    margin-left: 1rem;
}
.column:hover .card .txt h1, .column:hover .card .txt p {
    opacity: 1;
}
.column:hover a {
    color: rgba(255, 255, 255, 1);
}
.column:hover a:after {
    width: 10%;
}
.hiw-cards .card {
    position: relative;
    min-height: 170px;
    margin: 0;
    padding: 1.7rem 1.2rem;
    border: none;
    letter-spacing: 0.05rem;
    box-shadow: 0 10px 15px -3px #f7f5ff, 0 4px 6px -2px #f7f5ff;
    border: 1px solid rgba(0,0,0,.06);
}
.hiw-cards .card .txt {
    margin-left: -3rem;
    z-index: 1;
}
.hiw-cards .card .txt h1 {
    font-size: 1.5rem;
    font-weight: bolder;
}
.hiw-cards .card .txt p {
    margin-top: 33px;
    opacity: 0;
}
.hiw-cards .card a {
    z-index: 3;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 1);
    margin-left: 1rem;
    position: relative;
    bottom: -0.5rem;
    text-transform: uppercase;
}
.hiw-cards .card a:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    width: 0;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    transition: 0.5s;
}
.hiw-cards .card .ico-card {
    position: absolute;
    bottom: 15px;
    right: 15px;
    overflow: hidden;
    color: #eeedfa;
    transform: rotate(21deg);
}

/* dashboard */
.dashboard-header {
    top: 0;
    z-index: 10 !important;
}
.dashboard-main {
    /*padding-top: 72px;*/
}
.dashboard-main-sidebar {
    position: fixed;
    width: 240px;
    height: calc(100vh - 72px);
}
.sidebar-hide .dashboard-main-sidebar {
    display: none;
}
.dashboard-main-routes {
    padding: 0 0 0 280px;
}
.sidebar-hide .dashboard-main-routes {
    padding: 0
}
@media only screen and (max-width: 992px) {
    .dashboard-main-sidebar {
        background-color: rgba(0, 0, 0, 0.575);
        transform: translateX(-150%);
        top: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        width: 100%;
        padding-top: 72px;
    }
    .dashboard-main-sidebar > div {
        width: 280px;
        background-color: #f7f7f9;
        padding: 1rem;
    }
    .dashboard-main-sidebar.m-shown {
        z-index: 1;
        transform: translateX(0);

    }
    .dashboard-main-routes {
        padding: 0;
    }
}
.modal-projects {
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    max-width: 450px;
}
.modal-projects .modal-content {
    border: 0;
    border-radius: 0;
    height: 100vh;
}
.tool-variants {
    height: 48px;
}
.tool-variants-number {
    width: 24px;
    text-align: center;
}

.dropdown-menu-tools {
    position: relative;
    padding: 0 !important;
}

.dropdown-menu-tools .search-wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background: white;
    padding: 1rem;
}

.dropdown-menu-tools .search-wrapper input {

}

.fixed-bottom-dropdown .dropdown-menu{
    right: 0 !important;
    top: 100% !important;
    transform: none !important;
}
.text-result-card p:last-child {
    margin-bottom: 0;
}
.image-result-card {
    width: 100%;
    aspect-ratio: 1;
}
.single-blog-item .post-info .post-categories a {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #d2a98e;
    text-decoration: none;
}
.single-blog-item .post-info .post-title {
    line-height: 1.3;
}
